@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

header {
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 10%;
}

header a h1 {
    font-family: 'Lora', sans-serif;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 5px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

header nav div ul {
    display: flex;
}

.carousel {
    position: relative;
    width: 100%;
    height: calc(50vh - 80px);
    overflow: hidden;
    margin: auto;
}

.carousel-inner {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    height: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    padding: 0px 10px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel .first-wave {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.carousel .last-wave {
    position: absolute;
    bottom: 0;
    right: 0;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4dcc9;
}

.services h3 {
    font-size: 25px;
    font-family: 'Lora', sans-serif;
}

.service-container {
    width: 100%;
    padding: 25px 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;
    row-gap: 15px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service img {
    width: 100%;
    border-radius: 10px;
}

.service h4 {
    margin: 25px 0 5px;
    font-size: 16px;
    font-family: 'Lora', sans-serif;
}

.service p {
    font-size: 14px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h3 {
    margin: 0 0 10px;
    font-size: 25px;
    font-family: 'Lora', sans-serif;
}

.gallery p {
    font-size: 16px;
}

.gallery-container {
    padding: 25px 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
        "gallery-item-1 gallery-item-1 gallery-item-2 gallery-item-3"
        "gallery-item-1 gallery-item-1 gallery-item-4 gallery-item-5"
        "gallery-item-6 gallery-item-7 gallery-item-8 gallery-item-8";
}

.gallery-container .gallery-item {
    border: 2.5px solid #fff;
}

.gallery-container .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container .gallery-item-1 {
    grid-area: gallery-item-1;
}

.gallery-container .gallery-item-2 {
    grid-area: gallery-item-2;
}

.gallery-container .gallery-item-3 {
    grid-area: gallery-item-3;
}

.gallery-container .gallery-item-4 {
    grid-area: gallery-item-4;
}

.gallery-container .gallery-item-5 {
    grid-area: gallery-item-5;
}

.gallery-container .gallery-item-6 {
    grid-area: gallery-item-6;
}

.gallery-container .gallery-item-7 {
    grid-area: gallery-item-7;
}

.gallery-container .gallery-item-8 {
    grid-area: gallery-item-8;
}

.designs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #74554d;
}

.designs h3 {
    font-size: 25px;
    font-family: 'Lora', sans-serif;
}

.designs-container {
    width: 100%;
    padding: 25px 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;
    row-gap: 15px;
}

.designs-container article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.designs-container article h4 {
    margin: 10px 0 5px;
    font-size: 16px;
    font-family: 'Lora';
}

.designs-container article p {
    font-size: 14px;
    margin-bottom: 20px;
}

.designs-container article img {
    width: 100%;
    border-radius: 10px;
}

footer {
    height: 80px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 10%;
}

footer h3 {
    font-family: 'Lora', sans-serif;
    font-size: 24px;
}

footer div ul li {
    margin: 0 5px;
    list-style: none;
}

footer div ul {
    display: flex;
}