@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

header a h1 {
    font-family: 'Lora', sans-serif;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 5px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

header nav div ul {
    display: flex;
}

.carousel {
    position: relative;
    width: 100%;
    height: calc(50vh - 80px);
    overflow: hidden;
    margin: auto;
}

.carousel-inner {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    height: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    padding: 0px 10px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.services {
    margin: 50px 10%;
    display: flex;
    justify-content: space-between;
}

.service-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.service-container img {
    max-width: 300px;
    border-radius: 50%;
}

.service-container h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Lora';
}